@using Microsoft.AspNetCore.Mvc.Localization
@using KioskPos.Analytics.Localization
@inject IHtmlLocalizer<AnalyticsResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
